#cam {
    position: relative;
    left: 30px;
    top: 20px;
    border-radius: 20px;
}

#gps {
    font-family: 'Jua', sans-serif;
    font-size: 30px;
    position: relative;
    bottom: 470px;
    left: 1000px;
    width:200px;
    border: 10px solid;
}

#arrowBox {
    position: relative;
    left: 850px;
    bottom: -100px;
}

#upArrow {
    position: relative;
    bottom: 100px;
    left: 200px;
}

#googleMap {
    position: relative;
    left: 850px;
    bottom: 550px;
}